/* common style  */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    width: 50x;
    height: 5px;
    padding: 20px 35px 35px 20px;
    background: rgb(253, 110, 10);
    color: white;
    border-radius: 5px;
    font-weight: 700px;
    border: 0;
    font-weight: 700;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description1 {
    text-align: center;
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-description2 {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

/* header style */

/* nav style  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

nav li {
    list-style: none;
    margin-right: 60px;
}

/* banner section style */

.header {
    background-color: rgb(255, 248, 243);
    background-image: url('./images/header_bg.png') , url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , top left;

}

.banner {
    margin: 20px 40px 130px 200px;
    display: flex;
    align-items: center;

}

.pf-pic {
    width: 500px;
    height: 592px;
}

.banner-first {
    font-size: 45px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    margin-bottom: 0px;
}

.banner-second {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-text {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

#contact {
    margin-left: 20px;
}


/* main section style */

main {
    max-width: 1300px;
    margin: 0 auto;
}

/* about section */

.about {
    margin: 130px 0px;
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-description {
    margin-top: 3px;
}

/* what i do section */

.about {
    padding-top: 20px;
    margin-bottom: 50px;
}

/* skill section */

.skills-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}


.skill {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-left: 24px;
    width: 300;
    height: 370px;
    padding: 30px;
}


/* resume section style */

.resume-column-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 70px
}

.resume-item-institute,
.resume-item-description {
    color: rgb(117, 117, 117);
}

.cvbtn {
    /* margin: 50px 500px 100px 700px */
    text-align: center;
    margin: 100px 0px;

}

/* footer section style */

footer {
    display: flex;
    gap: 100px;
    background-color: rgb(255, 248, 243);
    padding: 130px 230px;
}

.footer-column {
    width: 50%;
}

.social-links{
    margin-top: 30px;
}

.social-links a {
    margin-left: 24px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: rgb(117, 117, 117);
    border: 0px;
    border-radius: 5px;
    background-color: white;
    width: 100%;

}

#section-title2 {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}