/* common style  */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    width: 50x;
    height: 5px;
    padding: 20px 35px 35px 20px;
    background: rgb(253, 110, 10);
    color: white;
    border-radius: 5px;
    font-weight: 700px;
    border: 0;
}

/* nav style  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

nav li {
    list-style: none;
    margin-right: 60px;
}

/* header section style */


.header {
    background-color: rgb(255, 248, 243);
    ;
}


.banner {
    margin: 20px 40px 130px 200px;
    display: flex;
    align-items: center;
}

.pf-pic {
    width: 500px;
    height: 592px;
}